# Airline Fleet Performance & Maintenance Analytics

### Data Cleaning and Validation

In [1]:
import pandas as pd
from datetime import datetime

df = pd.read_csv("Fleet.csv")
df.shape

(50, 12)

##### Check for Duplicate Aircraft (by Registration_ID)

In [2]:
duplicate_aircraft = df[df.duplicated(subset="Registration_ID", keep=False)]
duplicate_aircraft

Empty DataFrame
Columns: [Airline, Aircraft_Model, Registration_ID, Year_Built, Seats, Engine_Type, Range_km, Fuel_Burn_L_hr, Status, Age, Age_Groups, Unnamed: 11]
Index: []

##### Check for Missing Values

In [3]:
missing_summary = {
    "missing_airline": df["Airline"].isna().sum() + (df["Airline"] == "").sum(),
    "missing_model": df["Aircraft_Model"].isna().sum() + (df["Aircraft_Model"] == "").sum(),
    "missing_reg": df["Registration_ID"].isna().sum() + (df["Registration_ID"] == "").sum(),
    "missing_year": df["Year_Built"].isna().sum(),
    "missing_seats": df["Seats"].isna().sum(),
    "missing_engine": df["Engine_Type"].isna().sum() + (df["Engine_Type"] == "").sum(),
    "missing_range": df["Range_km"].isna().sum(),
    "missing_fuel": df["Fuel_Burn_L_hr"].isna().sum(),
    "missing_status": df["Status"].isna().sum() + (df["Status"] == "").sum()
}

pd.Series(missing_summary)

missing_airline    0
missing_model      0
missing_reg        0
missing_year       0
missing_seats      0
missing_engine     0
missing_range      0
missing_fuel       0
missing_status     0
dtype: int64

##### Check for Invalid Year_Built

In [4]:
current_year = datetime.now().year

invalid_years = df[
    (df["Year_Built"] < 1950) |
    (df["Year_Built"] > current_year)
]

invalid_years

Empty DataFrame
Columns: [Airline, Aircraft_Model, Registration_ID, Year_Built, Seats, Engine_Type, Range_km, Fuel_Burn_L_hr, Status, Age, Age_Groups, Unnamed: 11]
Index: []

##### Check for Negative or Zero Numeric Values

In [5]:
invalid_numeric = df[
    (df["Seats"] <= 0) |
    (df["Range_km"] <= 0) |
    (df["Fuel_Burn_L_hr"] <= 0)
]

invalid_numeric

Empty DataFrame
Columns: [Airline, Aircraft_Model, Registration_ID, Year_Built, Seats, Engine_Type, Range_km, Fuel_Burn_L_hr, Status, Age, Age_Groups, Unnamed: 11]
Index: []

##### Check for Inconsistent Status Values

In [6]:
df["Status"].unique()

array(['Active', 'Retired', 'Under Maintenance'], dtype=object)

In [7]:
df.columns

Index(['Airline', 'Aircraft_Model', 'Registration_ID', 'Year_Built', 'Seats',
       'Engine_Type', 'Range_km', 'Fuel_Burn_L_hr', 'Status', 'Age',
       'Age_Groups', 'Unnamed: 11'],
      dtype='object')

##### Connecting Python script to PostgreSQL

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:password@localhost:5432/db_name")

# Loading Data to SQL 
df.to_sql("fleet_table", engine, if_exists='replace', index=False)
print(" Data successfully loaded")

 Data successfully loaded